<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer style="text-align: center;" class="site-footer h-card">

      <div class="wrapper">

        <div class="footer-col-wrapper">
          <div class="footer-col one-half" style="width: 100%;">
            <h2 class="footer-heading">Uncharacteristically brought to you by <a href="https://ramonh.dev">Ramón Huidobro</a>.</h2>
          </div>
        </div>

      </div>

    </footer>

  </body>

  <script>
    var utterance = new SpeechSynthesisUtterance('Huidobro');
    window.speechSynthesis.speak(utterance);
  </script>

</html>
